<% include partials/header %>
	

	<section>
		<div class="container">	
			<div class="alert alert-success text-center" role="alert">
				<p class="lead"  style="margin-bottom:0;">
					<%= msg %>
				</p>
			</div>
			<br>
			<h3 class="display-4">File Analysis</h3>
			<ul>
				<li>Filename: <%= filename %> <br></li>
				<li>Encoding: <%= encoding %> <br></li>
				<li>Mimetype: <%= mimetype %> <br></li>
				<li>Path: <%= path %> <br></li>
				<li>Data: <%= data %> <br></li>
			</ul>
		</div>
	</section>


<% include partials/footer %>